{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movies.img.url}}" width="300" height="300">
        </div>
        <div class="col-md-6">

            <h1>{{movies.name}}<br>
            <h5>{{movies.desc}}</h5>
            <h6>YEAR:{{movies.year}}</h6>
             <a class="btn btn-warning" href="{% url 'movieapp:update' movies.id %}">update</a>
             <a class="btn btn-danger" href="{% url 'movieapp:delete' movies.id %}">delete</a>
        </div>
    </div>
</div>
{% endblock %}