{% extends 'base.html' %}
{% block body %}

<div class="container" xmlns:column-gap="http://www.w3.org/1999/xhtml">
    <div class="row" >
        {% for i in movie_list %}
        <div class="col-md-3" style="padding:10px">
            <div class="card" style={width=19rem;padding:30px;}>
  <img src="{{i.img.url}}" class="card-img-top" alt="" height="250" >
  <div class="card-body">
    <h6 class="card-title">{{i.name}}</h6>

    <a class="btn btn-warning" href="{% url 'movieapp:detail' i.id %}" >show more</a>

  </div>
</div>
        </div>
        {% endfor %}

    </div>
<a class="btn btn-danger" href="{% url 'movieapp:add_movie' %}">Add movies</a>
</div>




{% endblock %}